a {
    text-decoration: none;
    color: #373F51;
}
a:hover,
a:focus {
    text-decoration: underline;
}
pre {
    white-space: pre-wrap;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Chelsea Market', cursive;
}

body {
    font-family: 'Libre Franklin', sans-serif;
    color: #373F51;
    display: grid;
    margin: 0;
    grid-gap: 0;
    grid-template-areas:
        "header"
        "main"
        "footer";
    background: #E0F1F6;
}

body > header {
    grid-area: header;
    display: flex;
    flex-direction: column;
    background: #F9C22E;
    padding: 8px;
    box-sizing: border-box;
    border-bottom: 2px dashed #53B3CB;
}
body > header h1 {
    text-align: center;
}
body > header h1 a {
    color: #000;
}

body > main {
    grid-area: main;
    margin: 8px;
}

body > footer {
    grid-area: footer;
}

article header h2 {
    margin-top: 0;
}

main h1 {
    color: #6E8898;
    border-bottom: 1px solid #6E8898;
    padding: 0.4em 0;
    font-size: 1em;
    font-weight: 500;
    letter-spacing: 0.1em;
}

@media (min-width: 48em) {
    body {
        grid-template-columns: 18em fit-content(50em) auto;
        grid-template-areas:
            "header main space"
            "header footer space";
        /*align-items: baseline;*/
        height: 100vh;
    }

    body > header {
        height: 100%;
        border-bottom: none;
        border-right: 2px dashed #53B3CB;
    }

}