a {
    text-decoration: none;
    color: #373F51;
}
a:hover,
a:focus {
    text-decoration: underline;
}

body {
    display: grid;
    margin: 0;
    grid-gap: 0;
    grid-template-areas:
        "header"
        "main"
        "footer";
    align-items: baseline;
    background: #E0F1F6;
}

body > header {
    grid-area: header;
    display: flex;
    flex-direction: column;
    background: #F9C22E;
    padding: 8px;
    border: 2px dashed #53B3CB;
}
pre {
    white-space: pre-line;
}
body > header h1 {
    text-align: center;
}
body > header h1 a {
    color: #000;
}

body > main {
    grid-area: main;
    margin: 8px;
}

body > footer {
    grid-area: footer;
}

main h1 {
    color: #6E8898;
    border-bottom: 1px solid #6E8898;
    padding: 0.4em 0;
    font-size: 1em;
    font-weight: 500;
    letter-spacing: 0.1em;
}

@media (min-width: 48em) {
    body {
        grid-template-columns: 200px 1fr;
        grid-template-areas:
            "header main"
            "header footer";

    height: 100vh;
    }

    body > header {
        height: 100%;
    }

    .sidebar {
        position: fixed;
        top: 0;
        bottom: 0;
    }

    .footer {
        text-align: center;
    }
}