{% extends "base.html" %}
{% block content %}
    <section id="posts">
        {% block content_title %}
            <h1>Recent Posts</h1>
        {% endblock %}
        {% for article in articles_page.object_list %}
            <article class="post">
                <header>
                    <time class="published" datetime="{{ article.date.isoformat() }}"> {{ article.locale_date }} </time>
                    <h2>
                        <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">
                            {{ article.title }}
                        </a>
                    </h2>
                </header>
                <footer>
                    {#
                    <address class="author">By
                    {% for author in article.authors %}
                        {{ author }}
                    {% endfor %}
                    </address>
                    #}
                </footer>
                <div class="post-content"> {{ article.content }} </div>
            </article>
        {% endfor %}
        {% if articles_page.has_other_pages() %}
            {% include 'pagination.html' %}
        {% endif %}
    </section>
{% endblock content %}
